
if SHIELD_ERGO46_LEFT
config ZMK_KEYBOARD_NAME
    default "ergo46"
config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_ERGO46_LEFT || SHIELD_ERGO46_RIGHT
config ZMK_SPLIT
    default y
endif